h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
}

.hobby-container {
    width: 100%;
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
        "interior-design-img interior-design-description interior-design-description"
        "webcomics-description webcomics-description webcomics-img"
        "modeling-3d-img modeling-3d-description modeling-3d-description"
    ;
    row-gap: 500px;
}

.interior-design-img {
    grid-area: interior-design-img;
}

.interior-design-description {
    grid-area: interior-design-description;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    /* text-align: left; */
}

.webcomics-img {
    grid-area: webcomics-img;
}

.webcomics-description {
    grid-area: webcomics-description;
}

.modeling-3d-img {
    grid-area: modeling-3d-img;
}

.modeling-3d-description {
    grid-area: modeling-3d-description;
}

.interior-design-img, .webcomics-img,
.modeling-3d-img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.hobby-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: bottom;
}

.interior-design-img, .interior-design-description,
.webcomics-img, .webcomics-description,
.modeling-3d-img, .modeling-3d-description {
    margin: 5%;
}

@media (min-width: 0px) {
    .hobby-container {
        grid-template-areas: 
            "interior-design-img "
            "interior-design-description"
            "webcomics-img"
            "webcomics-description"
            "modeling-3d-img"
            "modeling-3d-description"
        ;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(6, minmax(0, 1fr));
        row-gap: 2%;
    }
}

@media (min-width: 576px) {
    .hobby-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        grid-template-areas: 
            "interior-design-img interior-design-description interior-design-description"
            "webcomics-description webcomics-description webcomics-img"
            "modeling-3d-img modeling-3d-description modeling-3d-description"
        ;
        row-gap: 500px;
    }
}