.home-page-greeting {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background: var(--primary-color) url("./resources/black-brush-stroke.png") no-repeat right bottom;
    background-size: contain;
    background-position-y: 95%;
}

.greeting-self-highlight {
    font-family: 'Monoton', cursive;
}

.home-page-greeting-text {
    width: 50%;
    font-size: var(--greeting-font-size);
    text-align: right;
}

.experience-section {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.job-img-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-img {
    width: 100%;
    height: auto;
}

.job-title {
    font-size: 30px;
}

.technical-knowledge {
    width: 100%;
    /* min-height: 50vh; */
    max-height: fit-content;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

.front-end-tech, .back-end-tech,
.libraries-and-frameworks-tech,
.tools-and-platforms-tech {
    padding: 2%;
    height: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border-left: 3px solid white;
    transition: 1s;
}

.tools-and-platforms-tech {
    border-left: none;
}

.front-end-tech:hover, .back-end-tech:hover,
.libraries-and-frameworks-tech:hover,
.tools-and-platforms-tech:hover {
    flex: 30;
    background-color: var(--rust-color);
    color: white;
}

.front-end-tech:hover .tech-img-container,
.back-end-tech:hover .tech-img-container,
.libraries-and-frameworks-tech:hover .tech-img-container,
.tools-and-platforms-tech:hover .tech-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tech-img-container {
    width: 75%;
    display: none;
    transform: rotate(180deg);
}

.education-section {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    max-height: fit-content;
    color: white;
    flex-wrap: wrap;
}

.education-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.UT-tower {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.school-list {
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
}

.school {
    width: 90%;
    height: 40%;
    padding: 5%;
}

.university-name {
    font-weight: bold;
}

.degree {
    font-style: italic;
}


/* @media Queries */

/*  Extra Small (ipod, etc.) */
@media (min-width: 0px) {
    .home-page-greeting-text {
        --greeting-font-size: 30vw;
        text-align: center;
    }

    .home-page-greeting {
        justify-content: center;
        margin: 0px;
        background-position-y: 75%;
    }

    .job-description {
        width: 96%;
        height: 25%;
        padding: 0% 2%;
    }

    .job-img-container {
        width: 100%;
        height: 25%;
    }

    .tech-img-container > img {
        width: 20vw;
        padding: 10px;
    }

    .technical-knowledge {
        font-size: 5vw;
        font-weight: 600;
    }

    .education-section {
        height: 200vh;
    }

    .education-img {
        width: 100%;
        height: 50%;
    }

    .school-list {
        width: 100%;
        height: 50%;
    }

    .university-name {
        font-size: 5vw;
    }

    .degree {
        font-size: 4vw;
    }
    
    .dates-of-attendance {
        font-size: 3.25vw;
    }
}

/* Small (cell phone) */
@media (min-width: 576px) {
    .home-page-greeting-text {
        --greeting-font-size: 25vw;
    }

    .home-page-greeting {
        justify-content: flex-end;
        margin-right: 10px;
    }

    .technical-knowledge {
        font-weight: 550;
    }

    .education-section {
        height: 100vh;
    }

    .education-img {
        width: 40%;
        height: 100%;
    }

    .school-list {
        width: 60%;
        height: 90%
    }

    .university-name {
        font-size: 4vw;
    }

    .degree {
        font-size: 3.5vw;
    }

    .dates-of-attendance {
        font-size: 2.875vw;
    }
}

/* Medium (tablet) */
@media (min-width: 768px) {
    .home-page-greeting {
        background-position-y: 95%;
    }

    .home-page-greeting-text {
        --greeting-font-size: 25vw;
    }

    .job-description {
        width: 46%;
        height: 50%;
    }

    .job-img-container {
        width: 50%;
        height: 50%;
    }

    .tech-img-container > img {
        width: 15vw;
    }

    .technical-knowledge {
        font-size: 3.85vw;
    }

    .degree {
        font-size: 3vw;
    }

    .dates-of-attendance {
        font-size: 2.5vw;
    }
}

/* Large (computer) */
@media (min-width: 992px) {
    .home-page-greeting-text {
        --greeting-font-size: 25vw;
    }

    .degree {
        font-size: 2.5vw;
    }

    .dates-of-attendance {
        font-size: 2.125vw;
    }
}

/* Extra Large (large computer screen) */
@media (min-width: 1200px) {
    .home-page-greeting-text {
        --greeting-font-size: 20vw;
    }

    .tech-img-container > img {
        width: 12vw;
    }

    .technical-knowledge {
        font-size: 3.5vw;
    }

    .university-name {
        font-size: 3.5vw;
    }

    .degree {
        font-size: 2vw;
    }
    
    .dates-of-attendance {
        font-size: 1.75vw;
    }
}
