/*
p, li, h3 {
  color: red;
  width: 500px;
  border: 1px solid black;
}
*/

html{
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  background-color: #FFEDA0;
}

h3 {
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  color: #FFEDA0;
  text-shadow: 3px 3px 10px black;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FFA585;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 512px;
}
